@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    
        <div class="row aboutme">
            <div class="col-sm-12">
                <img src="~/img/aboutme.jpg" alt="Brad Copenhaver" class="pull-right">
                <h2>All about Brad</h2>
                <p>Brad Copenhaver grew up in rural <strong>Pennsylvania</strong> and now lives in Portland, Oregon. He has traveled the world, lived abroad, and watched every episode of the first twelve seasons of The Simpsons. He loves to write about himself in the third person, and his favorite color is <span class="orange">orange</span>. Brad is learning to program at Epicodus in order to further his career in <strong>User Experience Design</strong>.</p>
            </div><!--col-->
        </div><!--row aboutme-->

        <div class="row aboutme">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="panel">
                    <p>Brad earned a master's degree in <span class="degree">Human-Computer Interaction</span> from <a href="http://cmu.edu"><span class="univ">Carnegie Mellon University</span></a> in 2009. The program was a joint program with the <a href="http://uma.pt"><span class="univ">University of Madeira</span></a> and involved classes at both universities. In case you didn't know, Madeira is a Portuguese, subtropical island in the Atlantic Ocean, and Brad lived there for a year while he was studying.</p>
                </div><!--panel-->
            </div><!--col-->
            <div class="col-sm-4 col-sm-offset-2">
                <div class="panel">
                    <p>Brad attended <a href="http://www.washjeff.edu"><span class="univ">Washington and Jefferson College</span></a> and earned a <span class="degree">Bachelor of Science in Psychology</span>. He also minored in Math and IT: New Media studies. His time at W&amp;J taught Brad a lot about life away from home, meeting new people, and working together. </p>
                </div><!--panel-->
            </div><!--col-->
        </div><!--row aboutme-->

        <div class="row aboutme">
            <div class="col-sm-4">
                <div class="panel">
                    <h3>Brad is a cyclist!</h3>
                    <p>Brad rides his bike as often as possible for transportation and recreation. It's a great way to stay in shape and save money.</p>
                    <h4>Favorite bikes Brad has owned:</h4>
                    <ol>
                        <li>Giant Revolt 1 2014: <em>stolen</em></li>
                        <li>Specialized AWOL 2016: <em>daily commuter</em></li>
                        <li>Centurion Frankenbike 1980: <em>deceased</em></li>
                        <li>Miyata (model and year unknown)</li>
                    </ol>
                </div><!--panel-->
            </div><!--col-->
            <div class="col-sm-4">
                <div class="panel">
                    <h3>He loves table tennis!</h3>
                    <p>He plays every week with his friends in the <a href="http://recesstimesports.com"><strong>Recesstime Sports League</strong></a>.</p>
                    <a href="http://recesstimesports.com"><img src="~/img/rsl.png" alt="Recesstime Sports League logo"></a>
                </div><!--panel-->
            </div><!--col-->
            <div class="col-sm-4">
                <div class="panel">
                    <h3>He volunteers at the park!</h3>
                    <p><a href="https://www.portlandoregon.gov/parks/finder/index.cfm?PropertyID=275&action=ViewPark"><strong>Mt. Tabor Park</strong></a> is one of the biggest parks on the east side of Portland. Brad helps keep the park healthy with the <a href="https://www.facebook.com/FMTP.WeedWarriors/"><strong>Friends of Mt. Tabor Park Weed Warriors</strong></a> on the last Saturday of every month from March through October.</p>
                </div><!--panel-->
            </div><!--col-->
        </div><!--row aboutme-->
    
