@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row heading">
    <div class="col-sm-12">
        <h2>Brad Copenhaver</h2>
        <h4>Junior Developer</h4>
    </div>
</div>