@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row index">
    <div class="col-sm-4">
        <img class="portrait" src="~/img/portrait.jpg" alt="portrait of Brad" />
    </div>
    <div class="col-sm-8">
        <p>
            Brad Copenhaver lives in Portland, Oregon and is currently enrolled at <a href="https://www.epicodus.com">Epicodus code academy</a> to learn the ins and outs of programming. The Epicodus curriculum focuses on modern web and mobile development. Brad chose the C#/.NET course track. See some of his work on the @Html.ActionLink("Projects page", "Projects").
        </p>
        <p>
            Brad plans to use his new-found skills and background in Human-Computer Interaction to join a team as a Junior Developer or UX Designer. He loves living in Portland but may be willing to relocate for the right opportunity. See more information on Brad on the @Html.ActionLink("About Me page", "About").
        </p>
        <h6>Coming soon: Brad's UX projects</h6>
    </div>
</div>