body {
}
.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.heading{
    text-align:center;
}
img.portrait{
    width:25%;
    height:auto;
    float:left;
}