.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.heading{
    text-align:center;
    color: saddlebrown;
}
img.portrait{
    width:350px;
    height:auto;
    float:left;
    border-radius:15px;
}
body {
  color: #444444;
}
strong {
  color: orange;
}
a {
  color: darkred;
}
a:hover {
  color: indianred;
}
.panel {
  padding: 10px;
  border: solid thin saddlebrown;
  border-radius: 8px;
}
.gradient {
  background: linear-gradient(to top, white, beige);
}
.gradientInv {
  background: linear-gradient(to bottom, white, beige);
}
.index{
    padding:20px 15px;
}
.index p{
    font-size:14pt;
}
.index h6{
    text-align:center;
}
.aboutme img {
  height:250px;
  margin: 10px 0px 10px 0px;
  border-radius:15px;
}
.aboutme p {
  font-size: 14pt;
}
.aboutme h3 {
  text-align: center;
  margin-top: 5px;
  font-weight: bolder;
}
.aboutme strong {
  font-size: 16pt;
  color:brown;
}
.aboutme .panel img {
  width: 100%;
  height: auto;
}
.univ {
  font-weight: bold;
  font-size: 16pt;
  color: darkred;
}
.degree {
  font-weight: bold;
  font-size: 16pt;
  color: chocolate;
}
.orange {
  color: orange;
  font-weight: bold;
}
.repos-heading {
    background-color: papayawhip;
}
#githubRepos {
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
}
.repo{
    width: 250px;
    margin: 15px;
    padding: 15px;
}
hr{
    border-color:brown;
    background-color:brown;
    color:brown;
}
